extends layout

block content
  div(class='container')
        h1(style="text-align: center; color: #863A6F")= title
        - let destinationcreate = `dispatch(\"/icecreams/create\")`
         button.btn( class="btn-primary ml-1", onclick= destinationcreate) Create
        - var results = results
        div(class='container' style="text-align: center;")  
            div.row 
                each item, index in results
                    div(class='col-md')
                        div(class='card', style='width: 17rem;')
                            div(class='card-body')
                                - let destination = `dispatch(\"/icecream/update?id=${item._id}\")`
                                - let destinationdelete = `dispatch(\"/icecream/delete?id=${item._id}\")`
                                - let destinationdetail = `dispatch(\"/icecream/detail?id=${item._id}\")`
                                div(class='card-text', onclick=`buy(${index})`) icecreamName : #{item["icecreamName"]} <br> icecreamF : #{item["icecreamF"]} <br> icecreamPrice: #{item["icecreamPrice"]} 
                                button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination) Update
                                button.btn( class="btn-primary ml-1", onclick= destinationdelete) Delete
                                button.btn( class="btn-primary ml-1", onclick= destinationdetail) Detail
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
      function dispatch(path) {
            window.location.href = path;
      }
      function destination(path) {
            window.location.href = path;
      }
      
      