extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let icecreamid = toShow._id 
    - let icecreamName= toShow.icecreamName
    - let icecreamicecreamF = toShow.icecreamF 
    - let icecreamicecreamPrice = toShow.icecreamPrice 
    - let actionid = "/resource/icecreams/" + icecreamid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='icecreamAttr mr-3') icecream ID is: 
        div #{icecreamid} 
      div.row 
        div(class='icecreamAttr mr-3') icecream icecreamName is: 
        div #{icecreamName} 
      div.row 
        div(class='icecreamAttr mr-3') icecream icecreamF is: 
        div #{icecreamicecreamF} 
      div.row 
        div(class='icecreamAttr mr-3') icecream icecreamPrice is: 
        div #{icecreamicecreamPrice} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the icecream collection 
      window.location.href='/icecreams' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      //Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/icecreams' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
    